/* mat-grid-tile{
  border: 1px solid lightgray;
  border-radius: 5px;
}

.image-container{
  position: relative;
  height: 200px;
} 

.home-page-product-image{
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */

.example-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set a fixed height for the container */
}

.card-image {
  max-height: 100%; 
  width: auto; 
}

.product{
  margin-top: 1rem;
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img{
  height: 300px;
  padding: 1rem;
}
.product-desc{
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content {
  padding: 16px;
  box-sizing: border-box;
}

