<!-- <div class="container mt-5">
  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
    <mat-grid-tile *ngFor="let p of productDetails"> 
      <div class="row p-5">
        <div class="image-container">
          <img class="home-page-product-image"
          [src]="p.productImages[0].url" alt="">
        </div>
        <div class="mt-3">
          <p><b>{{p.productName}}</b></p>
        </div>
        <div class="mt-2">
          <p style="white-space: inherit; height: 40px; width: 288px;overflow: hidden; text-overflow: ellipsis;">{{p.productDescription}}</p>
        </div>
        <div class="mt-2">
          <p> <b>Rs.{{p.productDiscountPrice}}</b> &nbsp;
            <b style="text-decoration: line-through;">Rs.{{p.productActualPrice}}</b></p>
        </div>
        <div class="mt-2">
          <button type="button" mat-raised-button color="warn"
          (click)="showProductDetails(p.id)"> View Details </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="container mt-5">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Search Product</mat-label>
    <input matInput #searchKeyWord (keyup)="searchProduct(searchKeyWord.value)"
    ngModel name="searchKey" id="searchKey" placeholder="Search">
  </mat-form-field>
<div class="row">
 <div class="col-sm-3 product" *ngFor="let p of productDetails">
<div class="card example-card">
  <div class="card-image-container">
    <img mat-card-image class="card-image" [src]="p.productImages[0].url" alt="">
  </div>
  
  <div class="card-body card-content">
    <h4 class="card-title">{{p.productName}}</h4>
    <p>
      <span><strong>MRP</strong>:<del>{{p.productActualPrice}}</del></span>&nbsp;&nbsp;
      <span><strong>DP</strong>:{{p.productDiscountPrice}}</span></p>
    <br>
     <p class="card-text product-desc">{{p.productDescription}}</p>
     <button style="margin-right: 5px;" type="button" mat-raised-button color="warn"
        (click)="showProductDetails(p.id)"> View Details </button>
      <button type="button" mat-raised-button color="warn"
        (click)="showProductDetails(p.id)">Add to cart</button>
  </div>
</div>
 </div>
</div>
<div class="text-center mt-5" style="padding-bottom: 100px;" *ngIf="showLoadButton">
  <button  type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Load More</button>

</div>
</div>