
 <div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userName">Username</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        class="form-control"
      />
      <div
        *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched"
        class="alert alert-danger"
      >
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="userPassword">Password</label>
      <input
        type="password"
        id="userPassword"
        formControlName="userPassword"
        class="form-control"
      />
      <div
        *ngIf="loginForm.get('userPassword').invalid && loginForm.get('userPassword').touched"
        class="alert alert-danger"
      >
        Password is required
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div> <!-- Display error message -->

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      Login
    </button>
    <div class="create-account">
      <p>Don't have an account? <a routerLink="/registerUser">Create an account</a></p>
    </div>
  </form>
</div>