
<section id="header">
<h2>QuickSauda.Com</h2>
<div>
  <ul id="navbar">
    <li><a  routerLink="/">Home</a></li>
    <li *ngIf="isLoggedIn() && !isAdmin()"><a href="">Shop</a></li>
    <li *ngIf="isLoggedIn() && !isAdmin()"><a routerLink="/myOrders">My Orders</a></li>
    <li *ngIf="isLoggedIn() && isAdmin()"><a routerLink="/addNewProduct">Add New Product</a></li>
    <li *ngIf="isLoggedIn() && isAdmin()"><a routerLink="/orderDetails">Order Information</a></li>
    <li *ngIf="isLoggedIn() && isAdmin()"><a routerLink="/showProductDetails">Show Product Details</a></li>
    <li *ngIf="isLoggedIn()"><a  (click)="logOut()">Logout</a></li>
    <li *ngIf="!isLoggedIn()"><a  routerLink="/login">Login</a></li>
    <li><a href="">Contact</a></li>
    <li *ngIf="isLoggedIn() && !isAdmin()"><a  routerLink="/cart"><i class="fa-solid fa-cart-arrow-down"></i>
    </a></li>
  </ul>
</div>
</section>